<div class="navbar-wrapper">
	<div class="container" style="background:#eee; height: 500px">
		<div class="jumbotron">
			<h2>Edit Place</h2>
			<%= render :partial => "form"%>
		</div>
		<div class="back_btn_position">
			<a class="btn btn-primary" href="/tourist_places" type="cancel">
				Back
			</a>
		</div>
	</div>
</div>