<h1>Offices#new</h1>
<p>Find me in app/views/offices/new.html.erb</p>
<div class="navbar-wrapper">
	<div class="container">
		<div class="jumbotron">
		<h1>Namma Pandavapura</h1>
    <div class="header-border border_position"></div>
			<h2>Create New Office</h2>
			<%= render :partial => "form"%>
		</div>
		<div class="back_btn_position">
			<a class="btn btn-primary" href="/tourist_places" type="cancel">
				Back
			</a>
		</div>
	</div>
</div>
