<div class="container" style="background:#eee; height: 1000px">
<h1>Namma Pandavapura</h1>
    <div class="header-border border_position"></div>
    <%= render :partial => "index_form"%>
    
    </div></br>
<%= render :partial => 'footer' %></br></br>
</div>