<section id="facts" class="facts">
      <div class="parallax-overlay">
        <div class="container">
          <div class="row number-counters">
            
            <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
              <h2>Some Real Facts</h2>
              <div class="devider"><i class="fa fa-coffee fa-lg"></i></div>
            </div>
            
            <!-- first count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
              <div class="counters-item">
                <i class="fa fa-users fa-3x"></i>
                <strong data-to="20423">0</strong>
                <!-- Set Your Number here. i,e. data-to="56" -->
                <p>Population in town</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
              <div class="counters-item">
                <i class="fa fa-area-chart fa-3x"></i>
                <strong data-to="2.50">0</strong>
                <!-- Set Your Number here. i,e. data-to="56" -->
                <p>Town Area in sq.km</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
              <div class="counters-item">
                <i class="fa fa-subway fa-3x"></i>
                <strong data-to="18">0</strong>
                <!-- Set Your Number here. i,e. data-to="56" -->
                <p> Number of Wards </p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
              <div class="counters-item">
                <i class="fa fa-road fa-3x"></i>
                <strong data-to="42">0</strong>
                <!-- Set Your Number here. i,e. data-to="56" -->
                <p>Length of Roads in km</p>
              </div>
            </div>
            <!-- end first count item -->
        
          </div>
        </div>
      </div>
    </section>