<section id="works" class="team">
      <div class="container">
        <div class="row">
    
          <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
            <h2>For Your Help</h2>
            <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
          </div>
          
          <div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
            <p>Here we can find governament bus timing, train timing, governament offices and list of villages in Pandavapura. </p>
          </div>

          <!-- single member -->
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
            <div class="member-thumb">
              <img src="assets/IMG_20140929_170853929_HDR.jpg" alt="Team Member" class="img-responsive">
              <figcaption class="overlay">
                <h5>Click below button for see bus timings. </h5>
                <a class="btn btn-default" role="button" href="/buses">View details »</a>
              </figcaption>
            </div>
            <h4>Governament Bus Stand</h4>
            <span>You can find here bus timings.</span>
          </figure>
          <!-- end single member -->
          
          <!-- single member -->
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
            <div class="member-thumb">
              <img src="assets/rail.jpg" alt="Team Member" class="img-responsive">
              <figcaption class="overlay">
                <h5>Click below button for see train timings. </h5>
                <a class="btn btn-default" role="button" href="/trains">View details »</a>
              </figcaption>
            </div>
            <h4>Railway Station</h4>
            <span>You can find here train timings.</span>
          </figure>
          <!-- end single member -->
          
          <!-- single member -->
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
            <div class="member-thumb">
              <img src="assets/IMG_20140929_171708837_HDR.jpg" alt="Team Member" class="img-responsive">
              <figcaption class="overlay">
                <h5>Click below button for see offices. </h5>
                <a class="btn btn-default" role="button" href="/offices">View details »</a>
              </figcaption>
            </div>
            <h4>Governament Ofiices</h4>
            <span>You can find list here of governament offices.</span>
          </figure>
          <!-- end single member -->
          
          <!-- single member -->
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
            <div class="member-thumb">
              <img src="assets/DSC00063.JPG" alt="Team Member" class="img-responsive">
              <figcaption class="overlay">
                <h5>Click below button for see villages. </h5>
                <a class="btn btn-default" role="button" href="/villages">View details »</a>
              </figcaption>
            </div>
            <h4>List of Villages</h4>
            <span>You can find here list of villages. </span>
          </figure>
          <!-- end single member -->
          
        </div>
      </div>
    </section>