 <section id="features" class="features">
      <div class="container">
        <div class="row">
        
          <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
            <h2>Most wanted places</h2>
            <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
          </div>

          <!-- service item -->
          <div class="col-md-4 wow fadeInLeft" data-wow-duration="500ms">
            <div class="service-item">
              <div class="service-icon">
                <i class="fa fa-university fa-2x"></i>
              </div>
              
              <div class="service-desc">
                <h3>Schools</h3>
                <p>A school is an institution designed for teaching of students (or "pupils") under the direction of teachers. We have lot of good schools in this city and also provided formal and excellent education to childrens. If you want to know the list of schools, click below button.</p>
                <a class="btn btn-default" role="button" href="/schools">View details »</a>
              </div>
            </div>
          </div>
          <!-- end service item -->
          
          <!-- service item -->
          <div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
            <div class="service-item">
              <div class="service-icon">
                <i class="fa fa-hospital-o fa-2x"></i>
              </div>
              
              <div class="service-desc">
                <h3>Hospitals</h3>
                <p>A hospital is a health care institution providing patient treatment with specialised staff and equipment. In Pandavapura, we can see good and well facilitated hospitals. And also, we can see many nursing homes. If you want to see list of hospitals, click below button.</p>
                <a class="btn btn-default" role="button" href="/hospitals">View details »</a>
              </div>
            </div>
          </div>
          <!-- end service item -->
          
          <!-- service item -->
          <div class="col-md-4 wow fadeInRight" data-wow-duration="500ms"  data-wow-delay="900ms">
            <div class="service-item">
              <div class="service-icon">
                <i class="fa fa-building fa-2x"></i>
              </div>
              
              <div class="service-desc">
                <h3>Tourist Places</h3>
                <p>Pandavapura is a normal city, it is not a tourist place but there are many touriest places near to the city like Melukote, KRS, Kerethonnur and Kunthi betta. Please click below button to see list of tourist places. </p>
                <a class="btn btn-default" role="button" href="/tourist_places">View details »</a>
              </div>
            </div>
          </div>
          <!-- end service item -->
            
        </div>
      </div>
    </section>