<section id="team" class="team">
      <div class="container">
        <div class="row">
    
          <div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
            <h2>Meet Our Team</h2>
            <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
          </div>
          
          <div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
            <p>This is our team</p>
          </div>

          <!-- single member -->
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
            <div class="member-thumb">
              <img src="assets/rsz_img_20141029_181430387.jpg" alt="Team Member" class="img-responsive">
              <figcaption class="overlay">
                <h5>voluptatem quia voluptas </h5>
                <p>sit aspernatur aut odit aut fugit,</p>
              </figcaption>
            </div>
            <h4>Prakash S L</h4>
            <span>Softwear developer</span>
          </figure>
          <!-- end single member -->
          
          <!-- single member -->
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
            <div class="member-thumb">
              <img src="assets/imgo.jpg" alt="Team Member" class="img-responsive">
              <figcaption class="overlay">
                <h5>voluptatem quia voluptas </h5>
                <p>sit aspernatur aut odit aut fugit,</p>
              </figcaption>
            </div>
            <h4>Harshith Y C</h4>
            <span>Tester</span>
          </figure>
          <!-- end single member -->
          
          <!-- single member -->
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
            <div class="member-thumb">
              <img src="assets/aashish.jpg" alt="Team Member" class="img-responsive">
              <figcaption class="overlay">
                <h5>voluptatem quia voluptas </h5>
                <p>sit aspernatur aut odit aut fugit,</p>
              </figcaption>
            </div>
            <h4>Aashish Kumar</h4>
            <span>Scrum master</span>
          </figure>
          <!-- end single member -->
          
          <!-- single member -->
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
            <div class="member-thumb">
              <img src="assets/hema.jpg" alt="Team Member" class="img-responsive">
              <figcaption class="overlay">
                <h5>voluptatem quia voluptas </h5>
                <p>sit aspernatur aut odit aut fugit,</p>
              </figcaption>
            </div>
            <h4>Hemashree</h4>
            <span>Softwear developer</span>
          </figure>
          <!-- end single member -->
          
        </div>
      </div>
    </section>