<div class="navbar-wrapper">
	<div class="container">
		<h2>Images on Pandavapura</h2></br>
		<img src="assets/images_1.jpg" alt="First slide">&nbsp;
		<img src="assets/me.jpg" alt="First slide">
	</div>
</div>