<div class="navbar-wrapper">
	<div class="container" style="background:#eee; height: 600px">
		<div class="jumbotron">
		<h1>Namma Pandavapura</h1>
    <div class="header-border border_position"></div>
			<h2>Edit Village</h2>
			<%= render :partial => "form"%>
		</div>
		<div class="back_btn_position">
			<a class="btn btn-primary" href="/villages" type="cancel">
				Back
			</a>
		</div>
	</div>
</div>