<div class="navbar-wrapper">
	<div class="container">
		<div class="jumbotron">
			<div class="new_villade_position">
				<a class="btn btn-primary" href="/villages/new" type="submit">
					Create New Village
				</a>
			</div>
            <table class="table table-striped table-hover">
               <thead>
                  <tr>
                     <th class="coupon-width">List of Villages</th>
                     <th class="coupon-width">Area in Hectares</th>
                     <th class="Last-access">Action</th>
                 </tr>
             </thead>
             <tbody>
              <% @village.each do |vlg| %> 
              <tr>
                 <td>
                    <div><%= vlg.village_name %></div>
                </td>
                <td>
                    <div><%= vlg.area %></div>
                </td>
                <td>
                    <%= link_to image_tag("icon-edit.png"), edit_village_path(vlg.id), :title => "Edit", 'data-no-turbolink' => true %>
                    <%= link_to image_tag("icon-deleted.png"), village_path(vlg.id), method: :delete, data: {confirm: 'Are u sure'}, :title => "Delete"  %>
                </a>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<!-- <%#= paginate @village %><br> -->
<a class="btn btn-primary" href="/" type="cancel">
    Back
</a>
</div>
</div>
</div>