<div class="container">
<h1>Namma Pandavapura</h1>
    <div class="header-border border_position"></div>
    <h2>List of Hospital</h2>
    <div class="col-lg-3 col-sm-4 col-xs-5 view-label">
          Hospital Name :
        </div>
        <div class="col-sm-6 col-xs-7 view-label-value">
          <%=@haspital.name %>
        </div>
    </div>