<div class="container" style="background:#eee; height: 1000px">
<h1>Namma Pandavapura</h1>
    <div class="header-border border_position"></div>
    <%# if current_user.has_role? :admin %>
	<!-- <div class="creat_school_btn">
		<a class="btn btn-primary" href="/schools/new" type="submit">
			Create New School
		</a>
	</div> -->
	<%= render :partial => "index_form" %>
</div>