.center-aln {
	text-align: center;
}

.new_villade_position {
	float: right;
	/*margin-left: 40px;*/
}

.creat_village_btn {
	float: right;
	padding-top: 20px;
}

.creat_school_btn {
	float: right;
	padding-top: 20px;
}

.journal-entry-devider {
    border-bottom: 2px solid #333; margin: 20px -20px;
}

.edit_btn_position {
	float: right;
	padding-bottom: 10px;
}

.header-border{
    border-top: 5px solid #580000;
}

.text_color_place {
	color: #660033;
}

.back_btn_position {
	padding-left: 75px;
}

.create_btn_position_fix {
	padding-right: 15px;
}

.search_field_position {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    /*width: 30%;*/
}

.search_btn_position {
	margin-left: 300px;
	padding-top: -150px;
}

.search_field {
	padding-right: 50px;
	margin-right: 260px;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.padding_fix {
	margin-right: 50px;
}

.border_position {
	margin-bottom: 20px;
}

.signup_btn_position {
	/*padding-top: -6px;*/
	margin-top: 15px;
	margin-left: 385px;
	/*margin-right: 10px;*/
	/*float: right;*/
}

.signup_field_width {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 50%;
}