<%= render :partial => "header"%>
<div class="container">

	<h2>Bus timings in Pandavapura</h2>
	<div class="new_villade_position">
    	<a class="btn btn-primary" href="/" type="cancel">
    		Home
    	</a>
    </div>
<div class="header-border border_position"></div>
    <div class="row">
    <div class="col-sm-12">
    	<div class="col-sm-6">
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Mysore</h3>
                <h4>Dailly 6:30 to 20:30 after 30 min each</h4>
    		</div>

    		<div class="form-group">
    			<h3 class="place-colour-bus">* Mandya</h3>
                <h4>via Badarahalli  :-  Dailly 6:30 to 20:30 after 30 min each</h4>
    		</div>

    		<div class="form-group">
    			<h3 class="place-colour-bus">* Tumukuru</h3>
                <h4>via Nagamangala  :-  5:45, 6:35, 7:00, 7:30, 8:00, 8:15, 8:40, 9:00, 9:10, 9:30, 10:00, 10:30, 11:00, 11:15, 11:30, 11:45, 12:00, 12:15, 12:30, 12:50, 13:10, 13:30, 14:00, 14:50, 15:00, 15:15, 15:45, 16:00, 16:30, 17:00, 17:35, 18:00, 18:45</h4>
    		</div>

    		<div class="form-group">
    			<h3 class="place-colour-bus">* K R pate</h3>
                <h4>via elekere  :-  Dailly 6:15 to 21:30 after 40 min each</h4>
    		</div>

    		<div class="form-group">
    			<h3 class="place-colour-bus">* Shivamogga</h3>
                <h4>via K R pate  :-  10:00, 10:30, 10:45, 14:15, 14:30</h4>
    			</div>
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Thuruvekere</h3>
                <h4>via Nagamangala :- 12:30, 13:05, 14:05, 14:15, 18:45.</h4>
    		</div>
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Chicka magaluru</h3>
                <h4>7:15, 7:40, 8:40.</h4>
    		</div>
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Shambonahalli</h3>
                <h4>via Sunkathonnur, Narahalli :- 7:15, 16:30</h4>
    		</div>
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Kaveripura</h3>
                <h4>via Anthanahalli :- 7:15, 6:30</h4>
    		</div>
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Anthanahalli</h3>
                <h4>7:45, 16:30</h4>
    		</div>
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Kyathanahalli</h3>
                <h4>7:00, 10:45, 18:00</h4>
    		</div>
    	</div>
    	<div class="col-sm-6">
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Mahadeshwara Hill</h3>
                <h4>6:30, 7:30</h4>
    		</div>

    		<div class="form-group">
    			<h3 class="place-colour-bus">* K R S</h3>
                <h4>21:00</h4>
    		</div>

    		<div class="form-group">
    			<h3 class="place-colour-bus">* K R Nagara</h3>
                <h4>19:30</h4>
    		</div>

    		<div class="form-group">
    			<h3 class="place-colour-bus">* Melukote</h3>
                <h4>via Jakkanahalli :- 8:15, 16:45, 19:15, 21:05</h4>
    		</div>

    		<div class="form-group">
    			<h3 class="place-colour-bus">* Narayanapura</h3>
                <h4>via Eregowdanahalli, Kodala, Kerethonnur :- 6:45, 7:45, 11:00, 13:00, 15:00, 16:45, 17:45, 19:45</h4>
    		</div>
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Kamanayakanahalli</h3>
                <h4>via Senaba, Kerethonnur :- 7:35, 09:30, 14:30, 17:30, 22:00</h4>
    		</div>
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Pattanagere</h3>
                <h4>via Deshvalli, Chandre :- 7:30, 13:45, 16:45</h4>
    		</div>
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Chittanahalli</h3>
                <h4>via Kodala :- 7:30, 10:00, 15:00, 17:00
                    via Vaddarahalli :- 8:45, 14:10, 17:00</h4>
    		</div>
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Nuggahalli</h3>
                <h4>via Chikkamarali, Chikade :- 7:45, 13:00, 17:00</h4>
    		</div>
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Malligere</h3>
                <h4>via Dinka, Bannagadi :-7:30, 12:00, 14:30, 17:15</h4>
    		</div>
    		<div class="form-group">
    			<h3 class="place-colour-bus">* Syadanahalli, Bebi</h3>
                <h4>via Elekere, Haralakuppe :-9:15, 13:15, 16:00</h4>
    		</div>
        </div>
    	</div>
    </div></br></br>
    	<%= render :partial => 'footer' %></br></br>
</div>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        evclassenceTabControl();
    });
    PopoverForEndorsment();
</script>