<!-- NAVBAR
  ================================================== -->
  <!-- <body> -->
  <div class="navbar-wrapper">
    <!-- <div class="container"> -->

      <div class="navbar navbar-inverse navbar-static-top space_remove" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="/">ನಮ್ಮ ಪಾಂಡವಪುರ</a> -->
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">ನಮ್ಮ ಪಾಂಡವಪುರ</a></li>
              <li><a href="<%= about_us_path %>">About</a></li>
              <li><a href="<%= contact_path %>">Contact</a></li>
              <li><a href="<%= villages_path %>">List of Villages</a></li>
              <li><a onclick="window.location.href='/galary'">Gallery</a></li>
              <li><a href="/information">Information</a></li>
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li> -->
              <!-- <li>
              <div id="user_nav" class="signup_btn_position">
                  <%# if current_user %>
                  <%#= link_to "Log out", log_out_path %>
                  <%# else %>
                  <%#= link_to "Sign up", new_user_path, :remote => true %> or
                  <%#= link_to "log in", new_session_path, :remote => true %>
                  <%# end %>

                </div>
              </li> -->
              <li>
              <div class="social-media-link">
              <%# if current_user %>
              <!-- Signed in as <strong><%#= current_user.name %></strong>! -->
              <%#= link_to "Sign out", log_out_path, id: "sign_out" %>
              <%# else %>
              <%#= link_to image_tag('fc.png'), "/auth/facebook", id: "sign_in" %>
              <%#= link_to image_tag("images (1).jpg"), "/auth/twitter" %>

              <%# end %>
              </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>