<footer id="footer" class="footer">
      <div class="container">
        <div class="row">
        
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
            <div class="footer-single">
              <img src="assets/qwinix.jpg" alt="">
              <p>Qwinix Technologies Pvt. Ltd.
                  Special Plot No. 5, Horizon,
                  HIEMA Convention Center Road,
                  Hebbal Industrial Estate,
                  Mysore – 570016</p>
            </div>
          </div>
        
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated custom-class" data-wow-duration="500ms" data-wow-delay="900ms">
            <div class="footer-single">
              <ul>
                <li><a href="/about_us">About Us</a></li>
                <li><a href="/information">Information</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
    </footer>