<%#* Modal for showing popups (in general) -%>
<div id="div_modal_generic" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <img src="/assets/close_icon.png" />
                            </button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body-main"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%#* Modal for showing popup messages -%>
<div class="history-print">
  <div id="div_modal_message" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close no-print" data-dismiss="modal" aria-hidden="true">
                                  <img src="/assets/close_icon.png" />
                              </button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

<%#* Modal for showing wide popups -%>
<div id="div_modal_wide" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <img src="/assets/close_icon.png" />
                            </button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body-main"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%#* Modal for showing video popups -%>
<div id="div_modal_video" class="modal fade modal_video">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="/assets/close_icon.png" /></button>
      <div class="modal-body">
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->