<div class="container container-min-height" id="content">
  <div class="row contact-margin">
    <h2><u>Find Yourself In Pandavapura</u></h2></br>
    <figure class="page6-img1 img-bot">
                    <iframe src="https://www.google.com/maps/embed/v1/place?q=11867+Padavapura,+Mandya,+Karnataka+571434,+India&key=AIzaSyCjd98SBT0PO8q7tP-lfYwzForr2YMFi9Y" width="970" height="470" frameborder="0" style="border:0"></iframe>
                </figure>
</div>
</div>